<div class="container mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <h4>Login Form </h4>
            <form class="login-form">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" name="email"  
                  required   aria-describedby="emailHelp"  appInputformator>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password"  id="password"
                  required minlength="6" maxlength="12">
                 
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" name="agree" id="agree" required>
                  <label class="form-check-label" for="agree">Remember me !</label>
                </div>
                <button type="submit" class="btn btn-primary" >Submit</button>
              </form>
        </div>
        <div class="col"></div>
    </div>
</div>